@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 100;
  src: url('fonts/Inter-Thin.woff2') format('woff2'),
       url('fonts/Inter-Thin.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 100;
  src: url('fonts/Inter-ThinItalic.woff2') format('woff2'),
       url('fonts/Inter-ThinItalic.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 200;
  src: url('fonts/Inter-ExtraLight.woff2') format('woff2'),
       url('fonts/Inter-ExtraLight.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 200;
  src: url('fonts/Inter-ExtraLightItalic.woff2') format('woff2'),
       url('fonts/Inter-ExtraLightItalic.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 300;
  src: url('fonts/Inter-Light.woff2') format('woff2'),
       url('fonts/Inter-Light.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 300;
  src: url('fonts/Inter-LightItalic.woff2') format('woff2'),
       url('fonts/Inter-LightItalic.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  src: url('fonts/Inter-Regular.woff2') format('woff2'),
       url('fonts/Inter-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 400;
  src: url('fonts/Inter-Italic.woff2') format('woff2'),
       url('fonts/Inter-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 500;
  src: url('fonts/Inter-Medium.woff2') format('woff2'),
       url('fonts/Inter-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 500;
  src: url('fonts/Inter-MediumItalic.woff2') format('woff2'),
       url('fonts/Inter-MediumItalic.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 600;
  src: url('fonts/Inter-SemiBold.woff2') format('woff2'),
       url('fonts/Inter-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 600;
  src: url('fonts/Inter-SemiBoldItalic.woff2') format('woff2'),
       url('fonts/Inter-SemiBoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  src: url('fonts/Inter-Bold.woff2') format('woff2'),
       url('fonts/Inter-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 700;
  src: url('fonts/Inter-BoldItalic.woff2') format('woff2'),
       url('fonts/Inter-BoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 800;
  src: url('fonts/Inter-ExtraBold.woff2') format('woff2'),
       url('fonts/Inter-ExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 800;
  src: url('fonts/Inter-ExtraBoldItalic.woff2') format('woff2'),
       url('fonts/Inter-ExtraBoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  src: url('fonts/Inter-Black.woff2') format('woff2'),
       url('fonts/Inter-Black.woff') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style:  italic;
  font-weight: 900;
  src: url('fonts/Inter-BlackItalic.woff2') format('woff2'),
       url('fonts/Inter-BlackItalic.woff') format('woff');
}

img {
    max-inline-size: 100%;
    block-size: auto;
    align: center;
}

body {
    margin: 0;
    color: #330001;
    background-color: #f6f5f4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

hr {
    color: #330001;
    width: 80%;
}

header {
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 8px 20px 8px 20px;

    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #E5E3E2ff;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    width: 1000px;
    max-width: 90%;
    margin: 50px auto;
    padding-top: 3vw;
    padding-right: 3vw;
    padding-bottom: 3vw;
    padding-left: 3vw;
    border-style: solid;
    border-width: 1px;
    border-color: #E5E3E2ff;
    border-radius: 15px;
    gap: 2rem;
}

footer {
    background-color: white;
    text-align: center;
    font-family: "Inter", sans-serif;
    border-top-style: solid;
    border-top-width: 1px;
    border-color: #E5E3E2ff;
}

.topbar {
    display: flex;
    flex: 1;
    justify-content: space-between;

    max-width: 1000px;
}

h1, h2, h3, h4 {
    font-family: "Inter", sans-serif;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
    letter-spacing: -0.045em;
    text-align: center;
}

h2, p {
    line-height: 1.4;
}

.doctrine p {
    font-weight: 300;
}

nav a {
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
}

a {
    color: #330001;
}

.topbar-logo {
    width: 40px;
    vertical-align: middle;
}

nav {
    display: flex;
    gap: 2vw;

    align-self: center;
}

.opening {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.whoami {
    flex: 1 1 40%;
    align-self: center;
    max-width: 40%;
    text-align: center;
}

.whoami p {
    font-size: 20px;
}

.imagem-igreja {
    flex: 1 1 55%;
    max-width: 55%;
    border-radius: 8px;
    width: auto;
    height: auto;
}

.doctrine, .downloads{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.downloads {
    align-self: center;
    max-width: 80%;
}

.doctrine {
    color: #000000;
}

.doctrine h2 {
    text-align: center;
}

.protestant, .calvinist, .reformed {
    display: flex;
    justify-content: space-between;
}

.calvinist {
    flex-direction: row-reverse;
}

.protestant img, .calvinist img, .reformed img {
    max-width: 400px;
    block-size: auto;
    object-fit: contain;
}

.cards {
    display: flex;
    flex-direction: column;

    max-width: calc(50% + 1px);
}

.card {
    display: flex;
    gap: 20px;
}

.calvinist .card {
    flex-direction: row-reverse;
}

.bar {
    min-width: 2px;
}

.emptybar {
    background-color: #d7cdcd;
    width: 100%;
    height: 100%;
}

.filledbar {
    display: none;
}

.card:hover .filledbar {
    display: block;
    background-color: #3a0909;
    width: 100%;
    height: 100%;
}

.card:hover .emptybar {
    display: none;
}

.downloads .card {
    gap: 30px;
}

.downloads .content {
    text-align: justify;
}

.downloads {
    align-items: justify;
}

.left {
    display: none;
}

.title {
    min-width: 150px;
}

.calvinist {
    text-align: end;
}

.info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.service-times-social-media, .address {
    flex: 1 50%;
    max-width: 45%;
    text-align: center;
}

.service-times-social-media {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.services-times {
    display: flex;
    flex-direction: column;
}

.services-times h2 {
    margin-bottom: 0px;
}

.lordsday {
    text-align: left;
    max-width: 350px;
    align-self: center;
}

.lordsday h3 {
    text-align: center;
}

.lordsday ul {
    display: inline-block;
    list-style: none;
    max-width: 300px;
}

.lordsday p {
    text-align: center;
}

.link-logo {
    width: 3em;
    height: 3em;
    margin: 0.5em;
}

.events {
    display: inline-block;
    width: 80%;
    margin: 0px auto;
}

.events hr {
    display: block;
}

.downloads {
    display: flex;
    flex-direction: column;
}

.event ol {
    list-style: none;
    padding-right: 40px;
}

.player {
    width: 100%;
}

@media only screen and (max-width: 893px) {
    main {
        max-width: 80%;
    }

    .doctrine {
	align-items: center;
    }

    .downloads {
	max-width: 90%;
    }

    .services-times, .social-media, .address {
	text-align: center;
    }

    .protestant, .calvinist, .reformed {
	text-align: center;
    }

    .opening, .info, .protestant, .calvinist, .reformed {
        flex-direction: column;
    }

    .protestant img, .calvinist img, .reformed img {
	margin: 30px auto;
	align-self: center;
	max-width: 100%;
    }

    .calvinist .card {
	flex-direction: row;
    }

    .service-times-social-media, .address {
        max-width: none;
    }

    .lordsday h3 {
	padding-left: 0px;
    }

    .whoami {
        max-width: none;
    }
    
    .cards {
	max-width: none;
    }

    .bar {
	display: none;
    }

    .imagem-igreja {
        max-width: 100%;
        width: auto;
        height: auto;
    }

    iframe {
	width: 100%;
    }

    .events {
	width: 90%;
    }
}

@media only screen and (max-width: 620px) {
    main {
	margin: 20px auto;
	max-width: 85%;
    }

    .imagem-igreja {
        max-width: 90%;
    }

    .card {
        gap: 10px;
    }

    .events {
	width: 100%;
    }

    .downloads {
	max-width: 90%;
    }

    .downloads .content {
	text-align: left;
    }
}

/* styles */
@media (prefers-color-scheme: dark) {
    body {
        color: #C9D1D9;
        background-color: #0D1117;
    }

    header {
	border-color: rgba(91, 91, 92, 0.10);
    }

    a {
        color: skyblue;
    }

    hr {
        color: #C9D1D9;
    }

    main {
        border: 0.01rem solid rgba(91, 91, 92, 0.10);
        background-color: #12151b;
    }
    
    .doctrine {
        color: #C9D1D9;
    }

    .doctrine img {
	filter: invert(70%);
    }

    .emptybar {
	background-color: rgba(91, 91, 92, 0.10);
    }

    .card:hover .filledbar {
	background-color: #C9D1D9;
    }

    header a {
        color: #d1d5db;
    }

    header, footer {
        background-color: #12151b;
    }

    footer {
	border-color: rgba(91, 91, 92, 0.10);
    }
}
